<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="flash"><%= flash.notice %></p>
  
  <div id= navcontainer >
  <%= link_to "Homepage", articles_path, class: "nav"%>
  <%= link_to "Tags", tags_path, class: "nav"%>
  <% if logged_in?%>
  <%= link_to "Create Article", new_article_path, class: "nav"%>
  <% end %>
 
    <% if logged_in? %>
    <%= "Logged in as #{current_user.email}" %>
    <%= link_to "Logout", logout_path, class:'nav', id: 'login'%>
    <% else %>
    <%= link_to "Login", login_path, class:'nav', id: 'login'%>
    <%= link_to "Sign up", new_author_path, class:'nav', id: 'login'%>

    <% end %>
  </div>

  <div id="container">
  <div id='content'>
    <%= yield %>
    
    </div>
    </div>
  </body>
</html>
